name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:

    runs-on: docker push catro922/kali-linux-docker-main:tagname
    steps:
    - uses: actions/checkout@v4
    - name: docker push catro922/kali-linux-docker-main:tagname
      run: docker build . --file Dockerfile --tag my-image-name:$(date +%s)
